<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="author" content="Ben Yip">
    <meta name="Copyright" content="SCAU E-Top Studio All Rights Reserved">
    <title>登陆成功页面</title>

</head>
<body>
url权限控制 用户有次权限
</body>
</html>
