<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="author" content="Ben Yip">
    <meta name="Copyright" content="SCAU E-Top Studio All Rights Reserved">
    <title>用户页面</title>

</head>
<body>
<p>用户列表</p>
<tbody>
<tr>
    #foreach($user in $userList)

    <td>
        用户名：$user.name
    </td><br>
    <td>
        密码：$user.password
    </td><br>
     #if($shiro.hasAnyPermissions("user:update"))
    <td><a href="/base/user/update?id=$user.id">修改用户</a></td><br>
     #end
    #if($shiro.hasRole("superadmin"))
        <td><a href="/base/user/del?id=$user.id">删除用户</a></td>
    #end
    #end
</tr><br/>
</tbody>
</body>
</html>

